{% extends "auctions/layout.html" %}

{% block body %}
<h2>Add Listing</h2>


<form action="{% url 'createlisting' %}" method="post">
    {% csrf_token %}
    <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
        <input type="text" name="title" id="title" placeholder="Title">
        </div>
    </div>

    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
        <textarea type="text" name="description" id="description" placeholder="Description"></textarea>
        </div>
    </div>

    <div class="form-group row">
        <label for="starting_bid" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
        <input type="number" name="starting_bid" id="starting_bid">
        </div>
    </div>

    <div class="form-group row">
        <label for="category" class="col-sm-2 col-form-label">Category</label>
        <div class="col-sm-10">
        <select name="category" id="category">
        {% for category in categories %}
        <option value="{{ category.id }}">
            {{ category }}
        </option>

        {% endfor %}
        </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="image" class="col-sm-2 col-form-label">Image (Optional)</label>
        <div class="col-sm-10">
        <input type="url" name="image" id="image" placeholder="Place url here">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
    <input type="submit" class="btn btn-primary" value="Submit">
        </div>
    </div>
</form>


{% endblock %}